# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
assets/credentials/voicepocket-bucketKey.json
assets/song/Ikson-New-Day-Vlog-No-Copyright-Music_320kbps.mp3
assets/song/Ikson-Lights-Vlog-No-Copyright-Music_320kbps.mp3
assets/song/Fredji -Happy-Life-Vlog.mp3
assets/song/Ehrling-You-And-Me-Vlog.mp3
ios/Podfile.lock
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Runner.xcodeproj/project.pbxproj
ios/Podfile.lock
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Runner.xcodeproj/project.pbxproj
.vscode/settings.json
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Runner/Release.entitlements
ios/Runner/Runner.entitlements
ios/Runner.xcodeproj/project.pbxproj
